# CUSTOMER SEGMENTATION PROJECT

## project goal:
the goal of this project is cluster the customers into different groups 
based on their spending behavioural pattern. This will help understand 
the taste of each customers and will help the company to target each customers 
with the right advert, product and services

In [2]:
# data wrangling libraries
import pandas as pd
import numpy as np

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# data modelling and statistical analysis library
from scipy.stats import stats
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.cluster import k_means,dbscan

In [7]:
data = pd.read_csv('cleaned_marketing.csv')

In [8]:
data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,9/4/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344,1,1,3/8/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613,0,0,8/21/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646,1,0,2/10/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293,1,0,1/19/2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
data.tail()

In [9]:
# check the columns
data.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [10]:
# drop the unnecesary columns

data.drop(columns=['ID','Dt_Customer'], inplace=True)

In [11]:
#check the datatypes of each columns and the nul values

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year_Birth           2240 non-null   int64
 1   Education            2240 non-null   object
 2   Marital_Status       2240 non-null   object
 3   Income               2240 non-null   object
 4   Kidhome              2240 non-null   int64
 5   Teenhome             2240 non-null   int64
 6   Recency              2240 non-null   int64
 7   MntWines             2240 non-null   int64
 8   MntFruits            2240 non-null   int64
 9   MntMeatProducts      2240 non-null   int64
 10  MntFishProducts      2240 non-null   int64
 11  MntSweetProducts     2240 non-null   int64
 12  MntGoldProds         2240 non-null   int64
 13  NumDealsPurchases    2240 non-null   int64
 14  NumWebPurchases      2240 non-null   int64
 15  NumCatalogPurchases  2240 non-null   int64
 16  NumStorePurchases    2240 non-null   int64
 17  NumWebVisitsMonth    2240 non-null   int64
 18  AcceptedCmp3         2240 non-null   int64
 19  AcceptedCmp4         2240 non-null   int64
 20  AcceptedCmp5         2240 non-null   int64
 21  AcceptedCmp1         2240 non-null   int64
 22  AcceptedCmp2         2240 non-null   int64
 23  Complain             2240 non-null   int64
 24  Z_CostContact        2240 non-null   int64
 25  Z_Revenue            2240 non-null   int64
 26  Response             2240 non-null   int64
dtypes: int64(24), object(3)
memory usage: 472.6+ KB

In [15]:
# double check the null values

data.isnull().sum()

Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Complain               0
Z_CostContact          0
Z_Revenue              0
Response               0
age                    0
dtype: int64

In [14]:
# generate age column, drop year_birth, handle data type issues

data['age'] = [2024 - x for x in data['Year_Birth']] # create age
data.drop(columns=['Year_Birth'], inplace=True) #drop year of birth

KeyError: 'Year_Birth'

In [5]:
# converting columns to integer
data = data[data['Income'] != ' ']
data.reset_index(drop = True, inplace= True)

data = data.astype({
    'Income': 'int'
    })

NameError: name 'data' is not defined

In [4]:
# inspecting the categorical columns

data['Education'].unique()
data['Marital_Status'].unique()

NameError: name 'data' is not defined

In [ ]:
data['Marital_Status'] = ['single' if x in ['YOLO','Absurd','Alone',
    'Single'] else x for x in data['Marital_Status']]

In [3]:
cat_cols = ['Marital_Staus', 'Education']
encoder = LabelEncoder()
for cols in cat_cols:
    data[f'{cols}_nums'] = encoder.fit_transform(data[cols])

NameError: name 'data' is not defined

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
final_data = data.drop(columns = cat_cols)

In [1]:
# modelling the data

scaler = StandardScaler()
scaled_df = scaler.fit_transform(final_date)
final_data = pd.DataFrame(data=scaled_df, columns=columns)

NameError: name 'StandardScaler' is not defined